agencia-infra/📦 Broadcast Stock Diario.json
{
  "name": "📦 Broadcast Stock Diario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        -112
      ],
      "id": "56699819-0d16-4831-9227-2a72f492f0be",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Lista de números a los que enviar el stock\n// En producción esto vendría de Google Sheets o base de datos\nconst contactos = [\n  \"56979797678\",\n  \"56979797687\",\n  \"56963948012\"\n];\n\n// Mensaje del stock del día\nconst mensaje = `🐟 *STOCK DISPONIBLE HOY*\n\n✅ Salmón premium - $8.990 kg\n✅ Merluza filete - $4.500 kg  \n✅ Camarones jumbo - $12.990 kg\n✅ Reineta entera - $3.990 kg\n✅ Albóndigas de vacuno - $5.500 kg\n\n📦 Despacho disponible hoy\n⏰ Pedidos hasta las 14:00 hrs\n📱 Responde este mensaje para pedir\n\n_Alimentos Congelados Premium_`;\n\n// Retorna un item por cada contacto\nreturn contactos.map(numero => ({\n  json: {\n    numero: numero,\n    mensaje: mensaje\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -112
      ],
      "id": "e72bb375-d0d1-4701-a529-2487dd9fe495",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agencia-bot-evolution-api.myrubl.easypanel.host/message/sendText/agencia-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        -112
      ],
      "id": "0650118f-5317-43ec-b5df-048d860662be",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c330259-5c19-48f8-8102-e52dba63d8f9",
  "meta": {
    "instanceId": "088d4a1e4b208ebd1c2befdc91b7d0d21f3964b8fbaf3aa79430021e7059ac79"
  },
  "id": "w4ktup3kvlTkt5EK",
  "tags": []
}